USE [master]
GO
/****** Object:  Database [SalesBillingSystemDB]    Script Date: 8/27/2026 4:38:33 PM ******/
CREATE DATABASE [SalesBillingSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesBillingSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SalesBillingSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesBillingSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SalesBillingSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesBillingSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesBillingSystemDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/27/2026 4:38:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Master]    Script Date: 8/27/2026 4:38:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Master](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[MobileNumber] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[GSTIN] [nvarchar](15) NULL,
 CONSTRAINT [PK_dbo.Customer_Master] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Master]    Script Date: 8/27/2026 4:38:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Master](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[SKU] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[GSTPercentage] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Product_Master] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Invoice]    Script Date: 8/27/2026 4:38:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Invoice](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TotalTaxableAmount] [decimal](18, 2) NOT NULL,
	[TotalGSTAmount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Sales_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Invoice_Item]    Script Date: 8/27/2026 4:38:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Invoice_Item](
	[InvoiceItemId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[GSTPercentage] [decimal](5, 2) NOT NULL,
	[TaxableAmount] [decimal](18, 2) NOT NULL,
	[GSTAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Sales_Invoice_Item] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 8/27/2026 4:38:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Sales_Invoice]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceId]    Script Date: 8/27/2026 4:38:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceId] ON [dbo].[Sales_Invoice_Item]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 8/27/2026 4:38:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Sales_Invoice_Item]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sales_Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_Invoice_dbo.Customer_Master_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer_Master] ([CustomerId])
GO
ALTER TABLE [dbo].[Sales_Invoice] CHECK CONSTRAINT [FK_dbo.Sales_Invoice_dbo.Customer_Master_CustomerId]
GO
ALTER TABLE [dbo].[Sales_Invoice_Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_Invoice_Item_dbo.Product_Master_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product_Master] ([ProductId])
GO
ALTER TABLE [dbo].[Sales_Invoice_Item] CHECK CONSTRAINT [FK_dbo.Sales_Invoice_Item_dbo.Product_Master_ProductId]
GO
ALTER TABLE [dbo].[Sales_Invoice_Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_Invoice_Item_dbo.Sales_Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Sales_Invoice] ([InvoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales_Invoice_Item] CHECK CONSTRAINT [FK_dbo.Sales_Invoice_Item_dbo.Sales_Invoice_InvoiceId]
GO
USE [master]
GO
